<div class="control panel">
  <input type="checkbox" [(ngModel)]="isEnabled" id="allowEdit"/>
  <label for="allowEdit">enable editing</label>
</div>

<div class="monitor panel">
  <div>Content: </div>
  <pre>{{content}}</pre>
</div>

<div class="log panel">
    <div>Content change log: </div>
    <pre>{{getChangeLog()}}</pre>
  </div>
  
<div class="outer">
  <app-content-editable class="inner" [model]="content" (modelChange)="contentUpdate($event)" [enabled]="isEnabled" (dblclick)="onDblclick()" (focusout)="onFocusout()"></app-content-editable>
</div>