<div class="log panel">
  <div>Content change log: </div>
  <pre>{{getChangeLog()}}</pre>
</div>

<div class="monitor panel">
  <div>Change detection count: {{changeDetectionCount}}</div>
  <hr>
  <div>Content: </div>
  <pre>{{content}}</pre>
</div>

<div class="control panel">
  <input type="checkbox" [(ngModel)]="controlEnabled" id="controlEnabled"/>
  <label for="controlEnabled">Enable model control<br><em><small>ngModel will trigger extra cd cycles</small></em></label>
  <ng-template [ngIf]="controlEnabled">
    <hr>
    <div><label>Position X: <input type="number" [(ngModel)]="containerDims.x"></label></div>
    <div><label>Position Y: <input type="number" [(ngModel)]="containerDims.y"></label></div>
    <input type="checkbox" [(ngModel)]="isEnabled" id="allowEdit"/>
    <label for="allowEdit">enable editing</label>
    <textarea [(ngModel)]="content" class="textarea" rows="4"></textarea>
  </ng-template>
</div>

<div class="outer" [style.top.px]="containerDims.y" [style.left.px]="containerDims.x" #container>
  <app-content-editable class="inner" [model]="content" (modelChange)="contentUpdate($event)" [enabled]="isEnabled" (dblclick)="onDblclick()" (focusout)="onFocusout()"></app-content-editable>
</div>

<svg>
  <defs>
      <polygon id="triangle" points="0,2 5,10 -5,10" style="fill:black; stroke:black; stroke-width:1" />
  </defs>
  <!-- top -->
  <g attr.transform="translate({{containerDims.x}} {{containerDims.top}})"><use xlink:href="#triangle" transform="rotate(180 0 0)"/></g>
  <!-- left -->
  <g attr.transform="translate({{containerDims.left}} {{containerDims.y}})"><use xlink:href="#triangle" transform="rotate(90 0 0)"/></g>
  <!-- bottom -->
  <g attr.transform="translate({{containerDims.x}} {{containerDims.bottom}})"><use xlink:href="#triangle"/></g>
  <!-- right -->
  <g attr.transform="translate({{containerDims.right}} {{containerDims.y}})"><use xlink:href="#triangle" transform="rotate(270 0 0)"/></g>
</svg>