:host {
    display: block;
    white-space: nowrap;
}

.editor {
    margin: 0;
    padding: 0;
    display: block;
    resize: none;
    outline: none;
    border: none;
    white-space: pre;
    overflow: hidden;
    font: inherit;
    background: inherit;
}

span {
    white-space: pre;
}
