<ng-container *ngIf="enabled; then editor; else content"></ng-container>

<ng-template #editor>
  <textarea #textarea wrap="off" class="editor" [ngModel]="textContent" (ngModelChange)="updateContent($event)" [rows]="rows" [cols]="cols"></textarea>
</ng-template>

<ng-template #content>
  <ng-template ngFor let-snippet [ngForOf]="viewModel">
    <ng-container [ngSwitch]="snippet.type">
      <ng-template [ngSwitchCase]="snippetType.Text"><span>{{snippet.content}}</span></ng-template>
      <ng-template [ngSwitchCase]="snippetType.LineBreak"><br></ng-template>
      <ng-template [ngSwitchCase]="snippetType.Space">&nbsp;</ng-template>
    </ng-container>
  </ng-template>
</ng-template>
